<html>
	<head>
    <script>
      var ws;
      window.addEventListener('load', function(event) {
        ws = MoleculerWebsocket("/ws/mychannel", function(msg) {
          console.log("Message received:", msg);
        });
        ws.connect();
      });
      window.addEventListener('unload', function(event) {
        if (ws) {
          ws.disconnect();
          ws = null;
        }
      });
    </script>
	</head>
	<body>
		<h1>header</h1>
		<p>content</p>
	</body>
</html>