<html>
    <body>
        {{> header}}
		<p>A: {{a}}</p>
		<p>B: {{b}}</p>
		<p>C: {{c}}</p>
		<table>
		{{#table}}
			<tr>
				<td>{{first}}</td>
				<td>{{second}}</td>
				<td>{{third}}</td>
			</tr>
		{{/table}}
		</table>
    </body>
</html>